body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.choice {
    cursor: pointer;
}

/* Add this CSS to your style.css file or within a <style> tag in the HTML head */


.choice img {
    width: 100px;
    height: 100px;
}

svg {
    height: 100px;
    width: auto;
    
}

svg :hover {
    fill: red;
}


.results {
    text-align: center;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
}
